
ios_fitness.xcworkspace/xcuserdata/jakey.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
ios_fitness/ios_fitness.xcodeproj/project.pbxproj
ios_fitness.xcworkspace/xcuserdata/jakey.xcuserdatad/UserInterfaceState.xcuserstate
ios_fitness/ios_fitness.xcodeproj/xcuserdata/jakey.xcuserdatad/xcschemes/xcschememanagement.plist
ios_fitness.xcworkspace/xcuserdata/jakey.xcuserdatad/UserInterfaceState.xcuserstate
